creds/
logs/
temp/
plugins/
.env
.venv/
venv/
__pycache__/
*.pyc
*.json

# --- dbt Artifacts ---

target/
dbt_packages/
dbt_modules/

# --- Terraform & Infrastructure ---

TERRAFORM/.terraform/
TERRAFORM/*.json
TERRAFORM/*.tfstate
TERRAFORM/*.tfstate.backup
TERRAFORM/terraform.tfvars
*.backup
*.tfstate*



# --- OS & IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/

